{# templates/station/list.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>afficher un technicien</title>
</head>
<body>
    <h1>technicien</h1>
<br>
    {{ technicien.getNom() }}
    <br>
    {{ technicien.getPrenom() }}
    
</body>
</html>